{
  "swagger": "2.0",
  "info": {
    "title": "Merchant Web API",
    "version": "v1"
  },
  "host": "api.vourity.com",
  "basePath": "/merchantwebapi/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/accept-invite/{merchantID}": {
      "patch": {
        "description": "Accept Merchant Invite by merchantID",
        "operationId": "AcceptMerchantInvite",
        "summary": "Accept Merchant Invite by merchantID",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "description": "merchantID of the merchant document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified merchantID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/change-email/{id}": {
      "post": {
        "description": "Change Email",
        "operationId": "ChangeEmail",
        "summary": "Change Email",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "changeEmail",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ChangeEmail"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/change-name/{id}": {
      "post": {
        "description": "Change Name",
        "operationId": "ChangeName",
        "summary": "Change Name",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "changeName",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ChangeName"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/change-pass/{id}": {
      "post": {
        "description": "Change Password",
        "operationId": "ChangePassword",
        "summary": "Change Password",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "changePassword",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ChangePassword"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/confirmsignup": {
      "post": {
        "description": "Confirm Signup",
        "operationId": "ConfirmSignup",
        "summary": "Confirm Signup",
        "parameters": [
          {
            "name": "confirmSignup",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConfirmSignup"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/countries": {
      "get": {
        "description": "GetCountries",
        "operationId": "GetCountries",
        "summary": "Returns All Countries",
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/Countries"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/account-lists": {
      "post": {
        "description": "Create AccountLists",
        "operationId": "CreateAccountLists",
        "summary": "Create AccountLists",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountList",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/balance-accounts": {
      "post": {
        "description": "Create BalanceAccounts",
        "operationId": "CreateBalanceAccounts",
        "summary": "Create BalanceAccounts",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "balanceAccount",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BalanceAccount"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BalanceAccount"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/bank-accounts/{merchantID}": {
      "post": {
        "description": "Create Bank-Accounts",
        "operationId": "CreateBank-Accounts",
        "summary": "Create Bank-Accounts",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "bankAccount",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BankAccount"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/BankAccount"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "description": "Retrieve BankAccount by merchantID",
        "operationId": "GetBankAccounts",
        "summary": "Returns BankAccount by merchantID",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/BankAccountArray"
            }
          },
          "404": {
            "description": "The specified merchantId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/business-units": {
      "post": {
        "description": "Create business unit",
        "operationId": "CreateBusinessUnit",
        "summary": "Create business unit",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "businessUnits",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BusinessUnits"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BusinessUnits"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/consents": {
      "post": {
        "description": "Create Consents",
        "operationId": "CreateConsents",
        "summary": "Create Consents",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "consents",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Consents"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/Consents"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "delete": {
        "description": "Delete Consents by consentKey",
        "operationId": "DeleteConsents",
        "summary": "Delete Consents by ConsentKey",
        "parameters": [
          {
            "name": "consentKey",
            "in": "query",
            "description": "consentKey of the user document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified ConsentKey doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "description": "Retrieve Consents",
        "operationId": "GetConsents",
        "summary": "Returns Consents",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/ConsentsArray"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update Consents",
        "operationId": "UpdateConsents",
        "summary": "Update Consents",
        "parameters": [
          {
            "name": "consentKey",
            "in": "query",
            "description": "consentKey of the consents document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "consents",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Consents"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified consentKey doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants": {
      "post": {
        "description": "Create Merchants",
        "operationId": "CreateMerchants",
        "summary": "Create Merchants",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchant",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Merchant"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Merchant"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/point-of-services": {
      "post": {
        "description": "Create PointOfService",
        "operationId": "CreatePointOfService",
        "summary": "Create PointOfService",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "pointOfServiceDoc",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PointOfServiceDoc"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PointOfServiceDoc"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/points-of-service/{businessunitID}": {
      "post": {
        "description": "Create Points-Of-Service by businessunitID",
        "operationId": "CreatePointsOfService",
        "summary": "Create Points-Of-Service by businessunitID",
        "parameters": [
          {
            "name": "businessunitID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "pointOfService",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PointOfService"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/PointOfService"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "description": "Retrieve PointsOfService",
        "operationId": "GetPointsOfService",
        "summary": "Returns PointsOfService",
        "parameters": [
          {
            "name": "businessunitID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/PointOfServiceArray"
            }
          },
          "404": {
            "description": "The specified businessunitID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/products": {
      "post": {
        "description": "Create product",
        "operationId": "CreateProduct",
        "summary": "Create product",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "products",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Products"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/Products"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "description": "Retrieve products",
        "operationId": "SearchProducts",
        "summary": "Search products by id merchantID or productName",
        "parameters": [
          {
            "name": "merchantID",
            "in": "query",
            "type": "string"
          },
          {
            "name": "productName",
            "in": "query",
            "description": "productName of the product document",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/ProductsArray"
            }
          },
          "404": {
            "description": "The specified product documentId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/sales-persons/{businessunitID}": {
      "post": {
        "description": "Create SalesPersons in Merchant document",
        "operationId": "CreateSalesPersons",
        "summary": "Create SalesPersons",
        "parameters": [
          {
            "name": "businessunitID",
            "in": "path",
            "description": "businessunitID of the BusinessUnits document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "salesPersons",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SalesPersons"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/SalesPersons"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "description": "Retrieve SalesPersons",
        "operationId": "GetSalesPersons",
        "summary": "Returns SalesPersons",
        "parameters": [
          {
            "name": "businessunitID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/SalesPersonsArray"
            }
          },
          "404": {
            "description": "The specified businessunitID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/webshops": {
      "post": {
        "description": "Create webshop",
        "operationId": "CreateWebshop",
        "summary": "Create webshop",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "webshop",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Webshop"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/Webshop"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}/account-lists": {
      "get": {
        "description": "Retrieve AccountLists by merchantId",
        "operationId": "GetAccountLists",
        "summary": "Returns AccountLists by merchantId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update AccountLists",
        "operationId": "UpdateAccountLists",
        "summary": "Update UpdateAccountLists",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountList",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "delete": {
        "description": "Delete AccountLists",
        "operationId": "DeleteAccountLists",
        "summary": "Delete AccountLists",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/balance-accounts/{id}": {
      "delete": {
        "description": "Delete BalanceAccount by id",
        "operationId": "DeleteBalanceAccount",
        "summary": "Delete BalanceAccount by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the BalanceAccounts document",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchantID",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "description": "Retrieve BalanceAccounts by id and merchantId",
        "operationId": "BalanceAccounts",
        "summary": "Retrieve BalanceAccounts by id and merchantId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the balance-accounts document",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchantID",
            "in": "query",
            "description": "issuerMerchantID of the balance-accounts document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/BalanceAccount"
            }
          },
          "404": {
            "description": "The specified id or merchantId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update BalanceAccount",
        "operationId": "UpdateBalanceAccount",
        "summary": "Update BalanceAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchantID",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "balanceAccount",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BalanceAccount"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified id or merchantId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/bank-accounts": {
      "delete": {
        "description": "Delete BankAccount by merchantID and account",
        "operationId": "DeleteBankAccount",
        "summary": "Delete BankAccounts by merchantID and account",
        "parameters": [
          {
            "name": "merchantID",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "account",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified merchantID or account doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update BankAccounts by merchantID and account",
        "operationId": "UpdateBankAccounts",
        "summary": "Update BankAccounts by merchantID and account",
        "parameters": [
          {
            "name": "merchantID",
            "in": "query",
            "description": "merchantID of the merchant document",
            "required": true,
            "type": "string"
          },
          {
            "name": "account",
            "in": "query",
            "description": "account of the merchant document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "payoutBankAccount",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PayoutBankAccount"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified product documentId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/business-units/{id}": {
      "get": {
        "description": "Retrieve business unit by id",
        "operationId": "GetBusinessUnit",
        "summary": "Retrieve business unit by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BusinessUnits"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "delete": {
        "description": "Delete BusinessUnit by id",
        "operationId": "DeleteBusinessUnit",
        "summary": "Delete BusinessUnit by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the BusinessUnit document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update BusinessUnits",
        "operationId": "UpdateBusinessUnits",
        "summary": "Update BusinessUnits",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "businessUnits",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BusinessUnits"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/image/{blobName}": {
      "delete": {
        "description": "Delete Image by blobName",
        "operationId": "DeleteImage",
        "summary": "Delete Image by blobName",
        "parameters": [
          {
            "name": "blobName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified blobName doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}": {
      "get": {
        "description": "Retrieve merchant by id",
        "operationId": "GetMerchant",
        "summary": "Returns merchant by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the merchant document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/Merchant"
            }
          },
          "404": {
            "description": "The specified merchant documentId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update merchant by id",
        "operationId": "Updatemerchant",
        "summary": "Update merchant by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the merchants document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchant",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Merchant"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponse"
            }
          },
          "404": {
            "description": "The specified Id  doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "delete": {
        "description": "Delete Merchant by id",
        "operationId": "DeleteMerchant",
        "summary": "Delete Merchant by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the merchant document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchant-link/{merchantID}": {
      "delete": {
        "description": "Delete MerchantLink merchantID",
        "operationId": "DeleteMerchantLink",
        "summary": "Delete MerchantLink merchantID",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}/point-of-services": {
      "get": {
        "description": "Retrieve PointOfService",
        "operationId": "GetPointOfService",
        "summary": "Returns PointOfService",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pointOfServiceID",
            "in": "query",
            "type": "string"
          },
          {
            "name": "businessUnitID",
            "in": "query",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/PointOfServiceDocArray"
            }
          },
          "404": {
            "description": "The specified id or pointOfServiceID or businessUnitID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update PointOfServices by merchantID",
        "operationId": "UpdatePointOfServices",
        "summary": "Update PointOfServices by merchantID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pointOfServiceID",
            "in": "query",
            "type": "string"
          },
          {
            "name": "businessUnitID",
            "in": "query",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "pointOfServiceDoc",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PointOfServiceDoc"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified id or pointOfServiceID or businessUnitID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "delete": {
        "description": "Delete PointOfServices by merchantId",
        "operationId": "DeletePointOfServices",
        "summary": "Delete PointOfServices by merchantId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pointOfServiceID",
            "in": "query",
            "type": "string"
          },
          {
            "name": "businessUnitID",
            "in": "query",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponse"
            }
          },
          "404": {
            "description": "The specified id or pointOfServiceID or businessUnitID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/points-of-service": {
      "delete": {
        "description": "Delete PointsOfService by businessunitID and pointOfServiceID",
        "operationId": "DeletePointsOfService",
        "summary": "Delete PointsOfService by businessunitID and pointOfServiceID",
        "parameters": [
          {
            "name": "businessunitID",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "pointOfServiceID",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified businessunitID or pointOfServiceID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update PointsOfService",
        "operationId": "PointsOfService",
        "summary": "Update PointsOfService",
        "parameters": [
          {
            "name": "businessunitID",
            "in": "query",
            "description": "businessunitID of the businessunit document",
            "required": true,
            "type": "string"
          },
          {
            "name": "pointOfServiceID",
            "in": "query",
            "description": "pointOfServiceID of the point-of-service document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "pointOfService",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PointOfService"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation"
          },
          "404": {
            "description": "The specified pointOfServiceID or businessunitID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/products/{id}": {
      "get": {
        "description": "Retrieve product by id",
        "operationId": "GetProduct",
        "summary": "Returns product by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the product document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/Products"
            }
          },
          "404": {
            "description": "The specified product documentId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update product properties by id",
        "operationId": "UpdateProduct",
        "summary": "Update product by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the product document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "products",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Products"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponse"
            }
          },
          "404": {
            "description": "The specified product documentId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "delete": {
        "description": "Delete product by id",
        "operationId": "DeleteProduct",
        "summary": "Delete product by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the product document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponse"
            }
          },
          "404": {
            "description": "The specified product documentId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/sales-persons": {
      "delete": {
        "description": "DeleteSalesPerson by businessunitID",
        "operationId": "DeleteSalesPerson",
        "summary": "DeleteSalesPerson by businessunitID",
        "parameters": [
          {
            "name": "businessunitID",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "salesPersonID",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified businessunitID or salesPersonID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update SalesPersons",
        "operationId": "UpdateSalesPersons",
        "summary": "Update SalesPersons",
        "parameters": [
          {
            "name": "businessunitID",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "salesPersonID",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "salesPersons",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SalesPersons"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified businessunitID or salesPersonID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/user-merchant-link": {
      "delete": {
        "description": "Delete UserMerchantLink by userID and merchantID",
        "operationId": "DeleteUserMerchantLink",
        "summary": "Delete UserMerchantLink by userID and merchantID",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "userMerchantLink",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UserMerchantLink"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/webshops/{id}": {
      "get": {
        "description": "Retrieve webshop by id",
        "operationId": "GetWebshop",
        "summary": "Returns webshop by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the webshop document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/Webshop"
            }
          },
          "404": {
            "description": "The specified webshop documentId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update webshop properties by id",
        "operationId": "UpdateWebshop",
        "summary": "Update webshop by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the webshop document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "webshop",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Webshop"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponse"
            }
          },
          "404": {
            "description": "The specified webshop documentId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "delete": {
        "description": "Delete webshop by id",
        "operationId": "DeleteWebshop",
        "summary": "Delete webshop by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the webshop document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponse"
            }
          },
          "404": {
            "description": "The specified webshop documentId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/forgot-pass": {
      "post": {
        "description": "Forgot Password",
        "operationId": "ForgotPassword",
        "summary": "Forgot Password",
        "parameters": [
          {
            "name": "changeEmail",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ChangeEmail"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}/account-transaction-summary": {
      "get": {
        "description": "Retrieve AccountTransactionSummary",
        "operationId": "GetAccountTransactionSummary",
        "summary": "Returns AccountTransactionSummary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "toDate",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/TransactionSummary"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}/account-transactions": {
      "get": {
        "description": "Retrieve AccountTransaction",
        "operationId": "GetAccountTransaction",
        "summary": "Returns AccountTransaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/AccountTransaction"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/users/{id}/business-units": {
      "get": {
        "description": "Retrieve BusinessUnit by userID",
        "operationId": "GetBusinessUnitByUserId",
        "summary": "Returns BusinessUnit by userID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/BusinessUnitsArray"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchant-balance/{merchantID}": {
      "get": {
        "description": "Retrieve MerchantBalance by merchantID",
        "operationId": "GetMerchantBalance",
        "summary": "Returns MerchantBalance by merchantID",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/BalanceAccountArray"
            }
          },
          "404": {
            "description": "The specified merchantID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/payout-transactions/{merchantID}": {
      "get": {
        "description": "Retrieve PayoutTransactions by merchantID",
        "operationId": "GetPayoutTransactions",
        "summary": "Returns PayoutTransactions by merchantID",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fromDate",
            "in": "query",
            "type": "string"
          },
          {
            "name": "toDate",
            "in": "query",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/PayoutTransaction"
            }
          },
          "404": {
            "description": "The specified merchantID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/transactions/{merchantID}/daterange/{fromDate}/{toDate}": {
      "get": {
        "description": "Retrieve Transactions by merchantID and date",
        "operationId": "GetTransactions",
        "summary": "Returns Transactions by merchantID and date",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fromDate",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "toDate",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/MerchantTransactionArray"
            }
          },
          "404": {
            "description": "The specified merchantId or date doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/users/{id}/merchants": {
      "get": {
        "description": "Retrieve Merchants by userId",
        "operationId": "GetMerchants",
        "summary": "Returns Merchants by userId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "_id of user document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/MerchantArray"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}/orders": {
      "get": {
        "description": "Retrieve Orders by merchantId",
        "operationId": "GetOrders",
        "summary": "Returns Orders by merchantId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "_id of merchant document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/OrdersArray"
            }
          },
          "404": {
            "description": "The specified userId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/payment-providers": {
      "get": {
        "description": "Retrieve PaymentProviders by country",
        "operationId": "GetPaymentProviders",
        "summary": "Returns PaymentProviders by country",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/PaymentProvider"
            }
          },
          "404": {
            "description": "The specified country doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}/transactions": {
      "get": {
        "description": "Retrieve transaction By mercahantId",
        "operationId": "GetTransactionsBymercahantId",
        "summary": "Returns transaction By mercahantId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fromDate",
            "in": "query",
            "type": "string"
          },
          {
            "name": "toDate",
            "in": "query",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/PaymentTransaction"
            }
          },
          "404": {
            "description": "The specified merchantId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/payout-frequency/{merchantID}": {
      "patch": {
        "description": "Update PayoutFrequency by merchantID",
        "operationId": "UpdatePayoutFrequency",
        "summary": "Update PayoutFrequency by merchantID",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "payoutFrequency",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PayoutFrequency"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponse"
            }
          },
          "404": {
            "description": "The specified merchantId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "description": "Retrieve PayoutFrequency",
        "operationId": "GetPayoutFrequency",
        "summary": "Returns PayoutFrequency",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/PayoutFrequency"
            }
          },
          "404": {
            "description": "The specified merchantId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/priceplans": {
      "get": {
        "description": "Retrieve Priceplans",
        "operationId": "GetPriceplans",
        "summary": "Returns Priceplans",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "type": "string"
          },
          {
            "name": "languageCode",
            "in": "query",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/PricePlan"
            }
          },
          "404": {
            "description": "The specified details doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}/product-classes": {
      "get": {
        "description": "Retrieve ProductPlasses",
        "operationId": "GetProductPlasses",
        "summary": "Returns ProductPlasses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/ProductClasses"
            }
          },
          "404": {
            "description": "The specified merchantId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/users/{id}/products": {
      "get": {
        "description": "Retrieve Products by userId",
        "operationId": "GetProducts",
        "summary": "Returns Products by userId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "_id of user doc",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/ProductsArray"
            }
          },
          "404": {
            "description": "The specified merchant documentId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/sas-token": {
      "get": {
        "description": "Retrieve SasToken",
        "operationId": "GetSasToken",
        "summary": "Returns SasToken",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/SasToken"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}/statistics": {
      "get": {
        "description": "Retrieve Statistics",
        "operationId": "GetStatistics",
        "summary": "Returns Statistics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "statistics",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "query",
            "type": "string"
          },
          {
            "name": "month",
            "in": "query",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/DailyStatistics"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}/invoice-details": {
      "get": {
        "description": "Retrieve InvoiceDetails",
        "operationId": "GetInvoiceDetails",
        "summary": "Returns InvoiceDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoiceID",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}/invoices": {
      "get": {
        "description": "Retrieve Invoice",
        "operationId": "GetInvoice",
        "summary": "Returns Invoice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fromDate",
            "in": "query",
            "type": "string"
          },
          {
            "name": "toDate",
            "in": "query",
            "type": "string"
          },
          {
            "name": "customerID",
            "in": "query",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/users/{id}": {
      "get": {
        "description": "Retrieve user by id",
        "operationId": "GetUser",
        "summary": "Returns user by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "404": {
            "description": "The specified user documentId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/send-notification/{id}": {
      "patch": {
        "description": "Update SendNotification by id",
        "operationId": "UpdateSendNotification",
        "summary": "Update SendNotification by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "sendNotifications",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SendNotifications"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "description": "Retrieve SendNotification",
        "operationId": "GetSendNotification",
        "summary": "Returns SendNotification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SendNotifications"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/get-team/{merchantID}": {
      "get": {
        "description": "Retrieve Team by mercahntId",
        "operationId": "GetTeam",
        "summary": "Returns Team by mercahntId",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Team"
            }
          },
          "404": {
            "description": "The specified merchantID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/vat-classes/{countryCode}": {
      "get": {
        "description": "Retrieve VatClasses by countryCode",
        "operationId": "GetVatClasses",
        "summary": "Returns VatClasses by countryCode",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/VatClassArray"
            }
          },
          "404": {
            "description": "The specified countryCode doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}/webshops": {
      "get": {
        "description": "Retrieve Webshops by merchantId",
        "operationId": "GetWebshops",
        "summary": "Returns Webshops by merchantId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WebshopArray"
            }
          },
          "404": {
            "description": "The specified merchantId doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/invitetomerchant": {
      "post": {
        "description": "Invitetomerchant",
        "operationId": "Invitetomerchant",
        "summary": "Invitetomerchant",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitetomerchant",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Invitetomerchant"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/login": {
      "post": {
        "description": "Login user",
        "operationId": "LoginUser",
        "summary": "Login user",
        "parameters": [
          {
            "name": "login",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/set-priceplan": {
      "post": {
        "description": "SetPriceplan",
        "operationId": "SetPriceplan",
        "summary": "SetPriceplan",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "setPriceplan",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SetPriceplan"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/signup": {
      "post": {
        "description": "Signup",
        "operationId": "Signup",
        "summary": "Signup",
        "parameters": [
          {
            "name": "signup",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Signup"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/UserSignup"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/user-details/{id}": {
      "patch": {
        "description": "Update UserDetails by id",
        "operationId": "UpdateUserDetails",
        "summary": "Update UserDetails by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/language/{userID}": {
      "patch": {
        "description": "Update Language by userID",
        "operationId": "UpdateLanguage",
        "summary": "Update Language by userID",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Language"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UpdateResponseWithCode"
            }
          },
          "404": {
            "description": "The specified userID doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchant-mobile-payment-codes": {
      "post": {
        "description": "Create Merchants mobile payment codes",
        "operationId": "CreateMerchantsMobilePaymentsCodes",
        "summary": "Create Merchants mobile payment codes",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchantMobilePaymentCodes",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/MerchantMobilePaymentCodes"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MerchantMobilePaymentCodes"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/merchants/{id}/merchant-mobile-payment-codes": {
      "delete": {
        "description": "Delete Merchants mobile payment codes",
        "operationId": "DeleteMerchantsmobilepaymentcodes",
        "summary": "Delete Merchants mobile payment codes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the merchant document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/Change"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "description": "Get Merchants mobile payment codes",
        "operationId": "GeteMerchantsmobilepaymentcodes",
        "summary": "Get Merchants mobile payment codes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the merchant document",
            "required": true,
            "type": "string"
          },
          {
            "name": "webshopID",
            "in": "query",
            "description": "ID of the webshop document",
            "type": "string"
          },
          {
            "name": "productID",
            "in": "query",
            "description": "ID of the product document",
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/MerchantMobilePaymentCodes"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "patch": {
        "description": "Update Merchants mobile payment codes",
        "operationId": "UpdateeMerchantsmobilepaymentcodes",
        "summary": "Update Merchants mobile payment codes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the merchant document",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "merchantMobilePaymentCodes",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/MerchantMobilePaymentCodes"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/Change"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/delete-merchant-psp-source": {
      "delete": {
        "description": "Delete Merchants Psp Source",
        "operationId": "DeleteMerchantsPspSource",
        "summary": "Delete Merchants Psp Source",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          },
          {
            "name": "deleteMerchantPspRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DeleteMerchantPspRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/Change"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/delete-user/{verificationCode}": {
      "delete": {
        "description": "Delete verificationCode",
        "operationId": "DeleteVerificationCode",
        "summary": "Delete verificationCod",
        "parameters": [
          {
            "name": "verificationCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/Change"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/download-user-data": {
      "get": {
        "description": "Download User Data",
        "operationId": "download-user-data",
        "summary": "Download User Data",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Auth token generated from login api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "$ref": "#/definitions/UserData"
            }
          },
          "404": {
            "description": "The specified id doesn't exist or is invalid"
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/forgotten-password-confirm": {
      "post": {
        "description": "Forgotten Password Confirm",
        "operationId": "forgotten-password-confirm",
        "summary": "Forgotten Password Confirm",
        "parameters": [
          {
            "name": "login",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Change"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    },
    "/generate-mpc-qr-code/{mobilePaymentCodeID}": {
      "get": {
[...]
